﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="add-projectdetails.aspx.cs"
    Debug="true" EnableViewState="true" Inherits="Admin_add_projectdetails" %>

<%@ Register Assembly="CKEditor.NET" Namespace="CKEditor.NET" TagPrefix="CKEditor" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ Register Src="~/Admin/MenuControl.ascx" TagName="Menu" TagPrefix="UC1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Godrej Channel Partner :: Admin</title>
    <link rel="dns-prefetch" href="http://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="http://themes.googleusercontent.com" />
    <link rel="dns-prefetch" href="http://ajax.googleapis.com" />
    <link rel="dns-prefetch" href="http://cdnjs.cloudflare.com" />
    <link rel="dns-prefetch" href="http://agorbatchev.typepad.com" />
    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Godrej Channel Partner App" />
    <meta name="author" content="Godrej Channel Partner App" />
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <!-- iPhone: Don't render numbers as call links -->
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <!-- More ideas for your here: h5bp.com/d/head-Tips -->
    <!-- The Styles -->
    <!-- ---------- -->
    <!-- Layout Styles -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <!-- Icon Styles -->
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/fonts/font-awesome.css">
    <!--[if IE 8]><link rel="stylesheet" href="css/fonts/font-awesome-ie7.css"><![endif]-->
    <!-- External Styles -->
    <link rel="stylesheet" href="css/external/jquery-ui-1.9.1.custom.css" />
    <link rel="stylesheet" href="css/external/jquery.chosen.css" />
    <link rel="stylesheet" href="css/external/jquery.cleditor.css" />
    <link rel="stylesheet" href="css/external/jquery.colorpicker.css" />
    <link rel="stylesheet" href="css/external/jquery.elfinder.css" />
    <link rel="stylesheet" href="css/external/jquery.fancybox.css" />
    <link rel="stylesheet" href="css/external/jquery.jgrowl.css" />
    <link rel="stylesheet" href="css/external/jquery.plupload.queue.css" />
    <link rel="stylesheet" href="css/external/syntaxhighlighter/shCore.css" />
    <link rel="stylesheet" href="css/external/syntaxhighlighter/shThemeDefault.css" />
    <!-- Elements -->
    <link rel="stylesheet" href="css/elements.css" />
    <link rel="stylesheet" href="css/forms.css" />
    <!-- OPTIONAL: Print Stylesheet for Invoice -->
    <link rel="stylesheet" href="css/print-invoice.css" />
    <!-- Typographics -->
    <link rel="stylesheet" href="css/typographics.css" />
    <!-- Responsive Design -->
    <link rel="stylesheet" href="css/media-queries.css" />
    <!-- Bad IE Styles -->
    <link rel="stylesheet" href="css/ie-fixes.css" />
    <!-- The Scripts -->
    <!-- ----------- -->
    <!-- JavaScript at the top (will be cached by browser) -->
    <!-- Grab frameworks from CDNs -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->

    <%--Shreyas--%>
    <%--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">        window.jQuery || document.write('<script src="js/libs/jquery-1.8.2.js"><\/script>')</script>
    <!-- Do the same with jQuery UI -->
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript">        window.jQuery.ui || document.write('<script src="js/libs/jquery-ui-1.9.1.js"><\/script>')</script>
    <!-- Do the same with Lo-Dash.js -->
    <!--[if gt IE 8]><!-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/0.8.2/lodash.js" type="text/javascript"></script>
    <script type="text/javascript">        window._ || document.write('<script src="js/libs/lo-dash.js"><\/script>')</script>
    <!--<![endif]-->
    <!-- IE8 doesn't like lodash -->
    <!--[if lt IE 9]><script src="http://documentcloud.github.com/underscore/underscore.js"></script><![endif]-->
    <!-- Do the same with require.js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.0.6/require.js" type="text/javascript"></script>
    <script type="text/javascript">        window.require || document.write('<script src="js/libs/require-2.0.6.min.js"><\/script>')</script>--%>



    <!-- Load Webfont loader -->
        
    <script src="js/mylibs/forms/jquery.ui.datetimepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        <%--$(document).ready(function(){
            $("#<%=txtNotificationScheduledFor.ClientID %>").datetimepicker({
                dateFormat: 'yy-mm-dd',
                timeFormat: 'hh:mm:ss'                
            }).attr('readonly', 'readonly');;
        });--%>
        function CheckValid(chars, validchars) {
            var blnresult = true;
            for (var i = 0; i < chars.length && blnresult == true; i++) {
                var cchar = chars.charAt(i);
                if (validchars.indexOf(cchar) == -1) {
                    blnresult = false;
                }

            }
            return blnresult;
        }

        function check() {
            if (document.getElementById('ddlBook').value == "Yes") {
                document.getElementById('txtUrl').disabled = false;
            }
            else {
                document.getElementById('txtUrl').value = "";
                document.getElementById('txtUrl').disabled = true;
            }
        }

        function validate() {
            if (document.getElementById('txtTitle').value == "" || document.getElementById('txtTitle').value == "Title") {
                alert("Please enter Project Name");
                document.getElementById('txtTitle').focus();
                return false;
            }
            if (document.getElementById('txtTitle').value.charAt(0) == " ") {
                alert("Please enter valid Project Name");
                document.getElementById('txtTitle').focus();
                return false;
            }
            if (document.getElementById('txtTitle').value.length < 3 || document.getElementById('txtTitle').value.length > 100) {
                alert("Project Name should be minimum 3 and maximum 100 characters");
                document.getElementById('txtTitle').focus();
                return false;
            }
            if (document.getElementById('ddlType').value == "Select") {
                alert('Please Select Project Type');
                document.getElementById('ddlType').focus();
                return false;
            }
            if (document.getElementById('ddlStatus').value == "Select") {
                alert('Please Select Project Status');
                document.getElementById('ddlStatus').focus();
                return false;
            }
            if (document.getElementById('ddlCity').value == "0") {
                alert('Please Select City');
                document.getElementById('ddlCity').focus();
                return false;
            }
            if (document.getElementById('txtSfdc').value == "" || document.getElementById('txtSfdc').value == "Sfdc") {
                alert("Please enter sfdc Name");
                document.getElementById('txtSfdc').focus();
                return false;
            }
        }
    </script>
    <script defer async src="https://ajax.googleapis.com/ajax/libs/webfont/1.0.28/webfont.js"></script>
    <!-- Essential polyfills -->
    <script src="js/mylibs/polyfills/modernizr-2.6.1.min.js" type="text/javascript"></script>
    <script src="js/mylibs/polyfills/respond.js" type="text/javascript"></script>
    <script src="js/mylibs/polyfills/matchmedia.js" type="text/javascript"></script>
    <!--[if lt IE 9]><script src="js/mylibs/polyfills/selectivizr.js"></script><![endif]-->
    <!--[if lt IE 10]><script src="js/mylibs/polyfills/excanvas.js"></script><![endif]-->
    <!--[if lt IE 10]><script src="js/mylibs/polyfills/classlist.js"></script><![endif]-->
    <!-- scripts concatenated and minified via build script -->
    <!-- Scripts required everywhere -->
    <script src="js/mylibs/jquery.hashchange.js" type="text/javascript"></script>
    <script src="js/mylibs/jquery.idle-timer.js" type="text/javascript"></script>
    <script src="js/mylibs/jquery.plusplus.js" type="text/javascript"></script>
    <script src="js/mylibs/jquery.scrollTo.js" type="text/javascript"></script>
    <script src="js/mylibs/jquery.ui.touch-punch.js" type="text/javascript"></script>
    <script src="js/mylibs/jquery.ui.multiaccordion.js" type="text/javascript"></script>
    <script src="js/mylibs/number-functions.js" type="text/javascript"></script>
    <script src="js/mylibs/fullstats/jquery.css-transform.js" type="text/javascript"></script>
    <script src="js/mylibs/fullstats/jquery.animate-css-rotate-scale.js" type="text/javascript"></script>
    <script src="js/mylibs/forms/jquery.validate.js" type="text/javascript"></script>
    <!-- Do not touch! -->
    <script src="js/mango.js" type="text/javascript"></script>
    <script src="js/plugins.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <!-- Your custom JS goes here -->
    <script src="js/app.js" type="text/javascript"></script>
    <!-- end scripts -->
</head>
<body>
    <form id="form1" runat="server">
    <!-- The loading box -->
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <input type="hidden" runat="server" id="hidSummary" />
        <%--shreyas--%>
  <%--  <div id="loading-overlay">
    </div>
    <div id="loading">
        <span>Loading...</span>
    </div>--%>
    <!-- End of loading box -->

    <div style="display: none;" id="Div1" runat="server" title="Add Client Example Dialog">
        <div class="row">
            Data Saved Successfully
            <asp:Button ID="btnDataSaved" runat="server" CssClass="submit" OnClick="btnDataSaved_Click" />
        </div>
    </div>
    <!-- End if #dialog_add_client -->
    <!--------------------------------->
    <!-- Now, the page itself begins -->
    <!--------------------------------->
    <!-- The toolbar at the top -->
    <section id="toolbar">
        <div class="container_12">
            <!-- Right side -->
            <div class="right">
                <ul>
                    <li class="red"><a href="AdminLogin.aspx">Logout</a></li>
                </ul>
            </div>
            <!-- End of .right -->
            <!-- Phone only items -->
            <div class="phone">
                <!-- Navigation -->
                <li><a class="navigation" href="#"><span class="icon icon-list"></span></a></li>
            </div>
            <!-- End of phone items -->
        </div>
        <!-- End of .container_12 -->
    </section>
    <!-- End of #toolbar -->
    <!-- The header containing the logo -->
    <header class="container_12">
        <div class="container">
            <!-- Your logos -->
            <a href="viewusers.aspx">
                <img src="img/logo.png" alt="Godrej Channel Partner App"></a> <a class="phone-title" href="viewbanner.aspx">
                    <%--<img src="img/logo-mobile.png" alt="Godrej Channel Partner App" height="30" /></a>--%>
        </div>
        <!-- End of .container -->
    </header>
    <!-- End of header -->
    <!-- The container of the sidebar and content box -->
    <div role="main" id="main" class="container_12 clearfix">
        <!-- The blue toolbar stripe -->
        <section class="toolbar">
           <%-- <input type="search" data-source="extras/search.php" placeholder="Search..." autocomplete="off"
                class="tooltip" title="" data-gravity="s">--%>
        </section>
        <!-- End of .toolbar-->
        <!-- The sidebar -->
        <UC1:Menu ID="Menu" runat="server" />
        <!-- End of sidebar -->
        <!-- Here goes the content. -->
        <section id="content" class="container_12 clearfix" data-sort="true">
            <h1 class="grid_12">
                Project Details </h1>
            <!-- Here you see an example of two long .grid_6 colums filled with content -->
            <div class="grid_12">
                <div class="box">
                    <div class="header">
                        <h2>
                            Add Project Details</h2>
                    </div>
                    <div class="content">
                        <div id="dialog_add_client" title="Add Client Example Dialog">
                             <div class="full validate">
                                <div class="row">
                                    <label for="txtTitle">
                                        <strong style="width: 121px;">Project Name<span style="color:red"> *</span></strong>
                                    </label>
                                    <div>
                                        <asp:TextBox ID="txtTitle" runat="server" CssClass="inp-form" MaxLength="100"></asp:TextBox>
                                    </div>
                                </div>
                            </div>
                             <div class="full validate">
                                <div class="row">
                                    <label for="ddlType">
                                        <strong style="width: 121px;">Project Type<span style="color:red"> *</span></strong>
                                    </label>
                                    <div>
                                        <asp:DropDownList ID="ddlType" runat="server">
                                        <asp:ListItem>Select</asp:ListItem>
                                        <asp:ListItem>Residential</asp:ListItem>
                                        <asp:ListItem>Commercial</asp:ListItem>
                                        </asp:DropDownList>
                                    </div>
                                </div>
                            </div>
                             <div class="full validate">
                                <div class="row">
                                    <label for="ddlStatus">
                                        <strong style="width: 121px;">Project Status<span style="color:red"> *</span></strong>
                                    </label>
                                    <div>
                                        <asp:DropDownList ID="ddlStatus" runat="server">
                                        <asp:ListItem>Select</asp:ListItem>
                                        <asp:ListItem>Current</asp:ListItem>
                                        <asp:ListItem>Upcoming</asp:ListItem>
                                        <asp:ListItem>Completed</asp:ListItem>
                                        </asp:DropDownList>
                                    </div>
                                </div>
                            </div>
                             <div class="full validate">
                                <div class="row">
                                    <label for="ddlCity">
                                        <strong style="width: 121px;">City<span style="color:red"> *</span></strong>
                                    </label>
                                    <div>
                                        <asp:DropDownList ID="ddlCity" runat="server" 
                                            onselectedindexchanged="ddlCity_SelectedIndexChanged" AutoPostBack="true"></asp:DropDownList>
                                    </div>
                                </div>
                            </div>
                             <div class="full validate">
                                <div class="row">
                                    <label for="ddlPlace">
                                        <strong style="width: 121px;">Place</strong>
                                    </label>
                                    <div>
                                        <asp:DropDownList ID="ddlPlace" runat="server"></asp:DropDownList>
                                    </div>
                                </div>
                            </div>
                             <div class="full validate">
                                <div class="row">
                                    <label for="txtTitle">
                                        <strong style="width: 121px;">SFDC Name<span style="color:red"> *</span></strong>
                                    </label>
                                    <div>
                                        <asp:TextBox ID="txtSfdc" runat="server" CssClass="inp-form" MaxLength="100"></asp:TextBox>
                                    </div>
                                </div>
                            </div>
                            <div class="full validate">
                                <div class="row">
                                    <label for="txtSFDCProjectID">
                                        <strong style="width: 121px;">SFDC Project ID</strong>
                                    </label>
                                    <div>
                                        <asp:TextBox ID="txtSFDCProjectID" runat="server" CssClass="inp-form" MaxLength="100"></asp:TextBox>
                                    </div>
                                </div>
                            </div>
                            <div class="full validate">
                                <div class="row">
                                    <label for="txtLocation">
                                        <strong style="width: 121px;">Location</strong>
                                    </label>
                                    <div>
                                        <asp:TextBox ID="txtLocation" runat="server" CssClass="inp-form" MaxLength="100"></asp:TextBox>
                                    </div>
                                </div>
                            </div>
                           <%-- <div class="full validate">
                                <div class="row">
                                    <label for="txtNotificationTitle">
                                        <strong style="width: 121px;">Notification Title</strong>
                                    </label>
                                    <div>
                                        <asp:TextBox ID="txtNotificationTitle" runat="server" CssClass="inp-form" MaxLength="100"></asp:TextBox>
                                    </div>
                                </div>
                            </div>
                            <div class="full validate">
                                <div class="row">
                                    <label for="txtNotificationSubTitle">
                                        <strong style="width: 121px;">Notification SubTitle</strong>
                                    </label>
                                    <div>
                                        <asp:TextBox ID="txtNotificationSubTitle" runat="server" CssClass="inp-form" MaxLength="100"></asp:TextBox>
                                    </div>
                                </div>
                            </div>
                             <div class="full validate">
                                <div class="row">
                                    <label for="txtNotificationScheduledFor">
                                        <strong style="width: 121px;">Notification Scheduled </strong>
                                    </label>
                                    <div>
                                        <asp:TextBox ID="txtNotificationScheduledFor" runat="server" CssClass="inp-form" MaxLength="22" autocomplete="off" style="width:200px"></asp:TextBox> 
                                        
                                    </div>
                                </div>
                            </div>--%>
                             <%--<div class="full validate">
                                 <div class="row">
                                     <label for="FileUpload1">
                                        <strong style="width: 121px;">Project name Image<span style="color:red"> *</span></strong>
                                     </label>
                                      <div>
                                          <asp:FileUpload ID="FileUpload1" runat="server"></asp:FileUpload>
                                      </div>
                                  </div>       
                             </div>--%>
                             <div class="full validate">
                                <div class="row">
                                    <label for="lstMenu">
                                        <strong style="width: 121px;">Select Project Menu<span style="color:red">*</span></strong>
                                    </label>
                                    <div>
                                        <asp:CheckBoxList ID="lstMenu" runat="server" Height="128px" Width="800">
                                        </asp:CheckBoxList>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div class="right">
                                    <asp:Button ID="btnSubmit" runat="server" OnClientClick="javascript:return validate();"
                                        CssClass="submit" Text="Submit" OnClick="btnSubmit_Click" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of .content -->
                </div>
                <!-- End of .box -->
            </div>
    <!-- End of .grid_6 -->
    </section>
        <!-- End of #content -->
    </div>
    <!-- End of #main -->
    <!-- The footer -->
    <footer class="container_12">
        <span class="grid_12">Copyright &copy; 2019 Pixie IT Solutions </span>
    </footer>
    <!-- End of footer -->
    <!-- Spawn $$.loaded -->
    <script>
        $$.loaded();
    </script>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
    <script defer src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
    </form>
    </form>
</body>
</html>
