<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AdminLogin.aspx.cs" Inherits="Admin_AdminLogin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="http://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="http://themes.googleusercontent.com" />
    <link rel="dns-prefetch" href="http://ajax.googleapis.com" />
    <link rel="dns-prefetch" href="http://cdnjs.cloudflare.com" />
    <link rel="dns-prefetch" href="http://agorbatchev.typepad.com" />
    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Godrej Channel Partner :: Admin Login</title>
    <meta name="description" content="Godrej Channel Partner App">
    <meta name="author" content="Godrej Channel Partner App">
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <!-- iPhone: Don't render numbers as call links -->
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <link rel="shortcut icon" type="image/gif" href="images/favicon.gif" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
    <!-- The Styles -->
    <!-- ---------- -->
    <!-- Layout Styles -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/layout.css">
    <!-- Icon Styles -->
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/fonts/font-awesome.css">
    <!--[if IE 8]><link rel="stylesheet" href="css/fonts/font-awesome-ie7.css"><![endif]-->
    <!-- External Styles -->
    <link rel="stylesheet" href="css/external/jquery-ui-1.9.1.custom.css">
    <link rel="stylesheet" href="css/external/jquery.chosen.css">
    <link rel="stylesheet" href="css/external/jquery.cleditor.css">
    <link rel="stylesheet" href="css/external/jquery.colorpicker.css">
    <link rel="stylesheet" href="css/external/jquery.elfinder.css">
    <link rel="stylesheet" href="css/external/jquery.fancybox.css">
    <link rel="stylesheet" href="css/external/jquery.jgrowl.css">
    <link rel="stylesheet" href="css/external/jquery.plupload.queue.css">
    <link rel="stylesheet" href="css/external/syntaxhighlighter/shCore.css" />
    <link rel="stylesheet" href="css/external/syntaxhighlighter/shThemeDefault.css" />
    <!-- Elements -->
    <link rel="stylesheet" href="css/elements.css">
    <link rel="stylesheet" href="css/forms.css">
    <!-- OPTIONAL: Print Stylesheet for Invoice -->
    <link rel="stylesheet" href="css/print-invoice.css">
    <!-- Typographics -->
    <link rel="stylesheet" href="css/typographics.css">
    <!-- Responsive Design -->
    <link rel="stylesheet" href="css/media-queries.css">
    <!-- Bad IE Styles -->
    <link rel="stylesheet" href="css/ie-fixes.css">
    <!-- The Scripts -->
    <!-- ----------- -->
    <!-- JavaScript at the top (will be cached by browser) -->
    <!-- Grab frameworks from CDNs -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>

    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.8.2.js"><\/script>')</script>

    <!-- Do the same with jQuery UI -->

    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

    <script>window.jQuery.ui || document.write('<script src="js/libs/jquery-ui-1.9.1.js"><\/script>')</script>

    <!-- Do the same with Lo-Dash.js -->
    <!--[if gt IE 8]><!-->

    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/0.8.2/lodash.js"></script>

    <script>window._ || document.write('<script src="js/libs/lo-dash.js"><\/script>')</script>

    <!--<![endif]-->
    <!-- IE8 doesn't like lodash -->
    <!--[if lt IE 9]><script src="http://documentcloud.github.com/underscore/underscore.js"></script><![endif]-->
    <!-- Do the same with require.js -->

    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.0.6/require.js"></script>

    <script>window.require || document.write('<script src="js/libs/require-2.0.6.min.js"><\/script>')</script>

    <!-- Load Webfont loader -->

    <script type="text/javascript">
        window.WebFontConfig = {
            google: { families: [ 'PT Sans:400,700' ] },
            active: function(){ $(window).trigger('fontsloaded') }
        };
    </script>

    <script defer async src="https://ajax.googleapis.com/ajax/libs/webfont/1.0.28/webfont.js"></script>

    <!-- Essential polyfills -->

    <script src="js/mylibs/polyfills/modernizr-2.6.1.min.js"></script>

    <script src="js/mylibs/polyfills/respond.js"></script>

    <script src="js/mylibs/polyfills/matchmedia.js"></script>

    <!--[if lt IE 9]><script src="js/mylibs/polyfills/selectivizr.js"></script><![endif]-->
    <!--[if lt IE 10]><script src="js/mylibs/polyfills/excanvas.js"></script><![endif]-->
    <!--[if lt IE 10]><script src="js/mylibs/polyfills/classlist.js"></script><![endif]-->
    <!-- scripts concatenated and minified via build script -->
    <!-- Scripts required everywhere -->

    <script src="js/mylibs/jquery.hashchange.js"></script>

    <script src="js/mylibs/jquery.idle-timer.js"></script>

    <script src="js/mylibs/jquery.plusplus.js"></script>

    <script src="js/mylibs/jquery.scrollTo.js"></script>

    <script src="js/mylibs/jquery.ui.touch-punch.js"></script>

    <script src="js/mylibs/jquery.ui.multiaccordion.js"></script>

    <script src="js/mylibs/number-functions.js"></script>

    <script src="js/mylibs/fullstats/jquery.css-transform.js"></script>

    <script src="js/mylibs/fullstats/jquery.animate-css-rotate-scale.js"></script>

    <script src="js/mylibs/forms/jquery.validate.js"></script>

    <!-- Do not touch! -->

    <script src="js/mango.js"></script>

    <script src="js/plugins.js"></script>

    <script src="js/script.js"></script>

    <!-- Your custom JS goes here -->

    <script src="js/app.js"></script>

    <script>
    
		 function IsValidEmail(stremail,empty)
		 {
			if(stremail=='' && empty)
				return true;
			var filter=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
				return filter.test(stremail);
		 }   
		
		function validate()
		{
		
			if(document.getElementById("txtUserName").value=='')
			{
			   alert("Please Enter User Name");
			   document.getElementById("txtUserName").focus();
			   return false;
			}
			
			if(document.getElementById("txtPwd").value=='')
			{
			   alert("Please Enter Password");
			   document.getElementById("txtPwd").focus();
			   return false;
			}
		}
		
		function validate1()
		{
		
			if(!IsValidEmail(document.getElementById('txtEmailID').value))
			{
				alert('Enter valid Email Id and try again.');
				document.getElementById('txtEmailID').focus();
				return false;
			} 
			if (document.getElementById('txtEmailID').value.length < 3 || document.getElementById('txtEmailID').value.length > 50)
			{		
				alert("Email ID should be minimum 3 and maximum 50 characters");
				document.getElementById('txtEmailID').focus();
				return false;
			}     
		}
    </script>

    <!-- end scripts -->
</head>
<body class="login">
    <!-- Some dialogs etc. -->
    <!-- The loading box -->
    <div id="loading-overlay">
    </div>
    <div id="loading">
        <span>Loading...</span>
    </div>
    <!-- End of loading box -->
    <!--------------------------------->
    <!-- Now, the page itself begins -->
    <!--------------------------------->
    <!-- The toolbar at the top -->
    <section id="toolbar">
    </section>
    <!-- End of #toolbar -->
    <!-- The header containing the logo -->
    <header class="container_12">
        <div class="container" align="center">
            <!-- Your logos -->
            <a href="CityMaster.aspx">
                <img src="img/logo.png" alt="Godrej Channel Partner"></a> <a class="phone-title" href="viewbanner.aspx">
                    <img src="img/logo-mobile.png" alt="Godrej Channel Partner App" height="30" /></a>
        </div>
        <!-- End of .container -->
    </header>
    <!-- End of header -->
    <!-- The container of the sidebar and content box -->
    <section id="login" class="container_12 clearfix">
        <form id="form1" runat="server" class="box validate">
        <div class="header">
            <h2>
                <span class="icon icon-lock"></span>Login</h2>
        </div>
        <div class="content">
            <!-- Login messages -->
            <div class="login-messages">
                <div class="message welcome">
                    Welcome back!</div>
                <div class="message failure">
                    Invalid credentials.</div>
            </div>
            <!-- The form -->
            <div class="form-box">
                <div class="row">
                    <label for="login_name">
                        <strong>Username</strong>
                    </label>
                    <div>
                        <asp:TextBox ID="txtUserName" runat="server" CssClass="required noerror"></asp:TextBox>
                    </div>
                </div>
                <div class="row">
                    <label for="login_pw">
                        <strong>Password</strong> <%--<small><a href="javascript:void(0);" id="">Forgot it?</a></small>--%>
                    </label>
                    <div>
                        <asp:TextBox ID="txtPwd" runat="server" TextMode="Password" CssClass="required noerror"></asp:TextBox>
                    </div>
                </div>
            </div>
            <!-- End of .form-box -->
        </div>
        <!-- End of .content -->
        <div class="actions">
            <div class="left">
                <div class="rememberme">
                    <asp:CheckBox ID="idchkRemeber" runat="server" CssClass="checkbox-size" />
                    <label for="login_remember">
                        <asp:Label ID="lbl" runat="server" Text="Remember Password"></asp:Label></label>
                </div>
            </div>
            <div class="right">
                <asp:Button ID="btnLogin" runat="server" Text="LogIn" CssClass="submitbtn" OnClick="btnLogin_Click"
                    OnClientClick="return validate();" type="submit" />
            </div>
        </div>
        <!-- End of .actions -->
        </form>
        <!-- End of form -->
    </section>
    <!-- Spawn $$.loaded -->

    <script>
		$$.loaded();
    </script>

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
	   chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
	<script defer src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	<script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->
</body>
</html>
