﻿
.how_list h1 {
    font-size: 18px;
    margin: 7px 0 20px -14px;
}.how_list, #calendar {
    padding: 3% 4% 3% 8%;
}.how_list li {
    line-height: normal;
    list-style: outside decimal;
    margin: 0 13px 11px 16px;
    font-size: 13px;
}
 #terms .how_list {
    padding-left: 5%;
    font-size: 13px;
}
 .content.how_list h1 {
    font-size: 20px;
}.content.how_list li {
    font-size: 15px;
}
#terms .how_list {
    font-size: 16px;
}.how_list li {
    font-size: 16px;
}