@charset "utf-8";
/* CSS Document */

@media screen and (max-width:1100px){
.main_container{width:98%;}
/*.bx-wrapper{max-width:98% !important;}*/
.empanelment_form_container #empl{width: 70%;float: left; margin-left: 3%;}
.empanel_form{width:100%;}
}

@media screen and (max-width:1093px){
ul.month_list li{padding: 0 4.4%;}

}
@media screen and (max-width:1023px){
	
}
@media screen and (max-width:1023px){
ul.month_list li{padding: 0 3.3%;}
.right_header ul li.tele_number{  font-size: 25px;}
#owl-demo1 .owl-item { border: none;}
#owl-demo .owl-item{ border-right: none; min-height: inherit;}
}

@media screen and (max-width:960px){
.right_header ul li{width: 44%;  margin-left: 10px;}
.right_header ul li.gp_logo img{width: 100%;}
#owl-demo1 .owl-item { border: none;}
}
@media screen and (max-width:940px){
ul.month_list li{width: 27%;  padding: 0 3%;}
ul.month_list li .sold_box strong{font-size: 35px;}
ul.month_list li .sold_box small{font-size: 16px;}
ul.month_list li .sold_box{padding: 10px 10px;}
#owl-demo1 .owl-item { border: none;}
}

@media screen and (max-width:800px){
.right_header ul li.tele_number{font-size: 24px;}
/*.empanelment_form_container section { width: 70%; float: left;}*/
#owl-demo1 .owl-item { border: none;}
.select_field { width: 95%;}
.right_header ul li.tele_number img{vertical-align:middle;}
}

@media screen and (max-width:768px){
.logo_connect{width: 100%;float: none;text-align: center;}	
.logo_connect img{ width: initial;  vertical-align: middle;}
.logo_connect a{line-height: 58px;padding-top: 0;}
header{height: auto;}
.right_header{width: 430px;  margin: 0 auto;float: none;}
h1{font-size: 35px;}
.left_img{width: 80%;float: none;  margin: 0 auto;}
.home_main_content{float: none;width: 90%; margin: 0 auto;}
.home_main_content p{margin-top: 30px;}
ul.month_list li{float: none;width: 100%;  margin-bottom: 45px; padding:0;}
ul.month_list li .sold_box{padding: 10px 35px; display: inline-block;}
.view_all{  margin:20px auto 0;}
.empanel_form{width:100%;}	
.input_text{width: 90%;float: none;margin: 0 auto 15px;  display: block;}
.chk_container{width: 94%;float: none;margin: 0 auto 15px;  display: block;  overflow: hidden;}
.m-l-15{margin: 0 auto 15px;}
.blue_btn{margin: 0 auto;}
.empanel_form em{ width: 91%; margin: 20px auto 0;}
.copy{line-height: 70px;}
.social_media{margin-top: 23px;}
#owl-demo1 .owl-item { border: none;}
.select_field { width: 95%;}
.empanelment_form_container #empl{margin-left:0;}
}
@media screen and (max-width:720px){
.copy { width: 100%; text-align: center;}
.social_media {width: 25%; text-align: center; margin: 0 auto; float: none;}
}

@media screen and (max-width:568px){
.logo_connect img{ width: 65%;}
.right_header ul li.tele_number{font-size: 22px;}
h1{font-size: 28px;}
.main_body_container h2{font-size: 14px;}
.home_main_content a img{ width: 43%;}
.copy{float: none;  text-align: center; padding: 15px 0; line-height: 21px;}
.social_media{margin:0 auto 10px;  width: 140px;  float: none;  overflow: hidden;}
.latest_project_container h2{ line-height: 23px;  padding: 0 20px;}
ul.latest_proj_list li{ width: 95%;float: none;  margin: 0 auto 30px;}
ul.latest_proj_list{ margin: 40px 0 10px;}
.main_body_container,.month_partner_container{margin: 30px auto;}
.month_list{ margin: 30px auto 0;}
.empanelment_form_container{padding: 30px 0;}
.latest_project_container{margin: 30px auto;}
ul.latest_proj_list{margin: 30px 0 0px;}
.empanelment_form_container section { width: 100%;}
.emempanelment_image { width: 100%; text-align: right; position:relative; top:0;}
.emempanelment_image img {width: 50%; margin-bottom: 20px;}
.select_field { width: 95%;}
#owl-demo1 .owl-item { border: none;}
.empanelment_form_container #empl{width: 98%; float:none;margin: 0 auto;}
}

@media screen and (max-width:480px){
.logo_connect img{ width: 75%;}	
.right_header{width: 90%;}
.right_header{width: 90%;}
.right_header ul li.tele_number{font-size: 21px;}
.right_header ul li.li_divider{height: 40px; margin-top: 15px;}
.right_header ul li.tele_number{line-height: 70px;}
.right_header ul li a{line-height: 70px;}
.home_main_content a img{ width: 46%;}
.copy{padding:15px 0; line-height: 21px;}
.empanelment_form_container section { width: 100%;}
.emempanelment_image { width: 100%;  text-align: right;}
.emempanelment_image img {width: 70%; margin-bottom: 20px;}
.select_field { width: 95%;}
#owl-demo1 .owl-item { border: none;}
}
@media screen and (max-width:420px){
.right_header ul li.tele_number{font-size: 18px;}
.select_field { width: 100%;}
#owl-demo1 .owl-item { border: none;}
}

@media screen and (max-width:360px){
.logo_connect img{ width: 80%;}	
.logo_connect a{line-height: 40px;}
.right_header{width: 100%;}
.right_header ul li.tele_number{font-size: 16px;}
.empanelment_form_container section { width: 100%;}
.emempanelment_image { width: 100%; text-align: right;}
.emempanelment_image img {width: 70%; margin-bottom: 20px;}
.select_field { width: 95%; }
#owl-demo1 .owl-item { border: none;}
.owl-next{right:0;}
.owl-prev{left:0;}
}