@charset "utf-8";
/* CSS Document */

body{overflow-x:hidden;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
input:focus{outline:none;}

header{background:#f5f6fa; height:90px;font-family: 'Roboto-Regular';}
.main_container{width:1100px; margin:0 auto; height:auto;}
.logo_connect{float:left;width: 40%;}
.logo_connect img{width: 100%;}
.logo_connect a{/*line-height: 90px;*/ padding-top: 33px; display:block;}
.right_header{float:right;}
.right_header ul{}
.right_header ul li{display:block; float:left; margin-left:15px;color:#3f3f3f;}
.right_header ul li a{ line-height: 90px;color:#3f3f3f; text-decoration:none;}
.right_header ul li.tele_number img{vertical-align:baseline;}
.right_header ul li.tele_number{font-size:28px; color:#3f3f3f;line-height: 90px;}
.right_header ul li.li_divider{height:50px;background:#babbbe;width: 1px; margin-top:20px;}
.right_header ul li.gp_logo img{vertical-align:middle;}

.banner_container{height:auto; width:100%;}
.banner_container .bx-wrapper .bx-viewport{border:none; box-shadow:none;background:none; left:0;}
.banner_container .bx-wrapper .bx-controls-direction a{display:none;}
.banner_container .bx-wrapper .bx-pager,.banner_container .bx-wrapper .bx-controls-auto{  bottom: 17px;}
.bx-wrapper .bx-pager.bx-default-pager a{background:#FFFFFF;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background: #087ac0;}
.bx-wrapper{margin-bottom:0;}

.main_body_container{height:auto; margin:50px auto; overflow: hidden;}
h1{font-size:45px; color:#252525;font-family: 'ralewaythin'; text-align:center;}
.main_body_container h1{margin-bottom:12px;}
.main_body_container h2{font-size:17px; color:#087ac0;text-align:center; margin-bottom:40px;font-family: 'ralewaysemibold';}
.left_img{float:left;  width: 39%;}
.left_img img{width:100%;}
.home_main_content{float:right;width: 57%;}
.home_main_content p{font-family: 'Roboto-Light'; font-size:15px; color:#515050;  line-height: 21px;  margin-top: 90px;}
.divider{height:1px; width:100%; background:#c2c2c2;}
.home_main_content .divider{margin:25px 0;}
.home_main_content span{color:#087ac0; font-size:18px;font-family: 'Roboto-Light'; margin-bottom:15px; display:block;}
.m-l-10{margin-left:10px;}

.advantage_container{background:#f5f6fa; width:100%; padding:50px 0;}
.advantage_container h1{margin-bottom:45px;}
.advantage_container .item .slide:nth-child(3){border-right:none;}
.advantage_container .item img{display: inline-block;margin-bottom: 15px;}
.advantage_container .item h2{font-size:20px; color:#087ac0; margin-bottom:10px;font-family: 'ralewaysemibold';text-align:center;margin-bottom: 15px;}
.advantage_container .item p{font-size:16px; color:#1e1e1e;font-family: 'Roboto-Light'; text-align:center;line-height: 21px;}


.month_partner_container{height:auto; margin:50px auto; overflow: hidden;}
.month_list{margin:50px auto 0;}
.month_list li{display:block; float:left; text-align:center; border-right: 1px #9ccae6 solid; padding:0 1.5%;}
.month_list .last{border:none;}
.month_list img{margin-bottom:20px;border-radius:50px;}
.month_list p{font-size:19px; color:#087ac0;font-family: 'ralewaysemibold';}
.month_list span{font-size:15px; color:#5c5c5c; display:block;font-family: 'ralewaysemibold'; margin:5px 0 10px;}
.month_list .sold_box{background:#e5e8f7; padding:10px 15px; border-radius: 5px;}
.month_list .sold_box strong{font-size:45px; color:#4e4e4e; font-weight:normal; display:inline-block;font-family: 'ralewaylight';  vertical-align: baseline;}
ul.month_list li .sold_box small{font-size:20px; color:#3f3f3f;display:inline-block;font-family: 'ralewaylight';  text-align: left; margin-left:5px;  line-height: 17px;}
.blue_btn{text-align:center; font-size:20px; color:#087ac0; border:2px #087ac0 solid; border-radius:40px; width:135px;  display: block; text-decoration:none;padding: 8px 0;font-family: 'ralewaylight'; background:none;}
.blue_btn:hover{background:#087ac0; color:#FFF;transition: all 0.5s ease-in;}
.view_all{margin:50px auto 0;padding:10px 0;}


.empanelment_form_container{
	height: auto;
	width: 100%;
	padding: 45px 0;
	background-size: 36% auto;
	float: left;
	background-color: #f5f6fa;
	background-repeat: no-repeat;
	background-position: right top;
	position: relative;min-height:255px;
}
.empanelment_form_container h1{margin-bottom: 10px;}
.empanelment_form_container h2{text-align:center; font-size:17px; color:#087ac0;font-family: 'ralewaysemibold';  line-height: 21px;}
.empanel_form{height:auto; width:720px; float:left; margin-top:30px;font-family: 'ralewaylight';}
.input_text{width:330px;width: 45%; float:left; height:42px; border:1px #c0c0c0 solid; border-radius:3px; padding:0 10px;font-size:16px; color:#6f6f6f; background:#f5f6fa; margin-bottom:15px;}
.select_field { width: 48.4%;}
.m-l-15{margin-left:15px;}
.chk_container{float:left;  width: 330px;}
.chk_input{ float: left;}
.chk_container span{display:block;float:left;width:90%;margin-left: 5px; color:#282828; font-size:13px;font-family: 'ralewaylight'; line-height: 18px;}
.empanel_form .submit_btn{background:#FFF; cursor:pointer;}
.submit_btn:hover{background:#087ac0; color:#FFF;transition: all 0.5s ease-in;}
.empanel_form em{color:#282828; font-size:13px; margin-top:20px; display:block;line-height: 16px;}
.empanel_bg{}

.latest_project_container{height:auto; margin:50px auto;}
ul.latest_proj_list{margin:40px 0; overflow:hidden;}
ul.latest_proj_list li{float:left; display:block; margin:0 2.5%;width: 45%;}
ul.latest_proj_list li a{text-decoration:none;}
.proj_img{/*position:relative;*/}
.proj_img img{width:100%;vertical-align: bottom;}
.proj_name{background:rgba(8,122,192,0.8); font-size:28px; color:#FFF;font-family: 'ralewaylight'; text-align:center; padding:10px 0; width:100%; /*position:absolute; bottom:0;*/}
.latest_project_container h2{color:#252525; font-size:17px; text-align:center;font-family: 'ralewaylight';line-height: 21px;padding: 0 52px;}

footer{height:auto; border-bottom:8px #087ac0 solid; background:#f5f6fa;overflow: hidden;}
.copy{float:left;font-size:14px; color:#252525;font-family: 'ralewaylight'; line-height:110px;}
.social_media{float:right;margin-top: 40px;}
.social_media li{display:block; float:left; margin-left:5px;}


.banner_text{position:absolute; top:0; right:0; height:100px; width:100px;}
.empanelment_form_container img { width:  100%;}
.emempanelment_image { width: 30%; position: absolute; top: 54px;right: 0;}
#preloader {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	display: none;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
